
- name: Stop Tomcat
  shell: docker stop geoprism
  become: yes
  become_method: sudo
  ignore_errors: yes



- name: Create directory
  file:
    path: "{{app_data}}/ssl/letsencrypt/hooks"
    state: directory
  become: yes
  become_method: sudo
- name: Create directory
  file:
    path: "{{app_data}}/ssl/letsencrypt/cert"
    state: directory
  become: yes
  become_method: sudo

- name: Stage geoprism-certbot code
  copy:
    src: "../docker/geoprism-certbot/cli.ini"
    dest: "{{app_data}}/ssl/letsencrypt/cert/cli.ini"
  become: yes
  become_method: sudo
  
- name: Stage geoprism-certbot code
  copy:
    src: "error-notify.sh"
    dest: "{{app_data}}/ssl/letsencrypt/hooks/error-notify.sh"
    mode: a+x
  become: yes
  become_method: sudo
- name: Stage geoprism-certbot code
  copy:
    src: "post-hook.sh"
    dest: "{{app_data}}/ssl/letsencrypt/hooks/post-hook.sh"
    mode: a+x
  become: yes
  become_method: sudo
- name: Stage geoprism-certbot code
  copy:
    src: "post-deploy.sh"
    dest: "{{app_data}}/ssl/letsencrypt/hooks/post-deploy.sh"
    mode: a+x
  become: yes
  become_method: sudo
- name: Stage geoprism-certbot code
  copy:
    src: "pre-hook.sh"
    dest: "{{app_data}}/ssl/letsencrypt/hooks/pre-hook.sh"
    mode: a+x
  become: yes
  become_method: sudo
- name: Stage geoprism-certbot code
  copy:
    src: "geoprism-certbot.sh"
    dest: "{{app_data}}/ssl/letsencrypt/geoprism-certbot.sh"
    mode: a+x
  become: yes
  become_method: sudo
- name: Stage geoprism-certbot code
  copy:
    src: "rebuild_symlinks.sh"
    dest: "{{app_data}}/ssl/letsencrypt/rebuild_symlinks.sh"
    mode: a+x
  become: yes
  become_method: sudo

- name: Start Geoprism Certbot Program
  community.general.docker_container:
    name: geoprism-certbot
    image: docker:29
    state: started
    recreate: yes
    pull: yes
    restart_policy: always
    entrypoint: /bin/sh
    network_mode: host
    command: "/var/lib/geoprism-certbot/geoprism-certbot.sh {{ssl_domain}} {{ssl_admin_email}} {{ssl_keystore_password}} geoprism {{ssl_archive_s3_bucket}} {{ssl_archive_s3_key}} {{ssl_archive_s3_secret}} {{app_data}}/ssl/letsencrypt"
    volumes:
        - "{{app_data}}/certbot:/var/www/certbot"
        - "{{app_data}}/ssl/letsencrypt/cert:/etc/letsencrypt"
        - "{{app_data}}/ssl/letsencrypt/lib:/var/lib/letsencrypt"
        - "{{app_data}}/ssl/letsencrypt/log:/var/log/letsencrypt"
        - "{{app_data}}/ssl/letsencrypt/hooks:/var/lib/geoprism-certbot/hooks"
        - "{{app_data}}/ssl/letsencrypt/geoprism-certbot.sh:/var/lib/geoprism-certbot/geoprism-certbot.sh"
        - "{{app_data}}/ssl/letsencrypt/rebuild_symlinks.sh:/var/lib/geoprism-certbot/rebuild_symlinks.sh"
        - "/var/run:/var/run/parent"
    env:
      SERVICE_NAME: "geoprism-certbot"
      ALERT_TO: "devops@terraframe.com"
      ALERT_FROM: "noreply@geoprism.net"
      SES_REGION: "us-west-2"
      SES_USER: "{{email_user}}"
      SES_PASS: "{{email_pass}}"
  become: yes
  become_method: sudo
  
- name: Wait until our program has deleted the file
  wait_for:
    path: "{{app_data}}/ssl/letsencrypt/cert/live/{{ssl_domain}}/cert.pem"
    state: "absent"
  become: yes
  become_method: sudo
- name: Wait until the certificate is present before continuing (otherwise docker will create this file as a directory when the webserver spins up)
  wait_for:
    path: "{{app_data}}/ssl/letsencrypt/cert/live/{{ssl_domain}}/cert.pem"
  become: yes
  become_method: sudo
  
- name: Sleep for 10 seconds because our program will start tomcat (and it breaks stuff in later stages if we don't)
  ansible.builtin.wait_for:
    timeout: 10
  delegate_to: localhost
  
- name: Start Tomcat
  shell: docker start geoprism
  become: yes
  become_method: sudo
  ignore_errors: yes
  