
# Stop Docker Service
# You would think 'yum update' would be smart enough to stop before updating but... https://github.com/moby/moby/issues/33688
- name: Stop Docker service
  service: name=docker state=stopped enabled=yes
  become: yes
  become_method: sudo
  ignore_errors: yes

# Install software. I tried to make this into a list (for readability) but because ordering is important I don't think we can do that.
- name: Yum update
  yum: name="*" state=latest
  become: yes
  become_method: sudo
- name: Yum install epel-release
  yum: name="epel-release" state=latest
  become: yes
  become_method: sudo
- name: Yum install ntp
  yum: name="ntp" state=latest
  become: yes
  become_method: sudo
- name: Yum install rsync
  yum: name="rsync" state=latest
  become: yes
  become_method: sudo
- name: Yum install docker
  yum: name="docker" state=latest
  become: yes
  become_method: sudo
- name: Yum install python-pip
  yum: name="python-pip" state=latest
  become: yes
  become_method: sudo
- name: Yum install certbot
  yum: name="python-pip" state=latest
  become: yes
  become_method: sudo


# Install and configure yum-cron so that our servers remain up-to-date with security updates
- name: Yum install yum-cron
  yum: name="yum-cron" state=latest
  become: yes
  become_method: sudo
- name: Yum-cron configure
  replace:
    path: /etc/yum/yum-cron.conf # CentOS 7 specific
    regexp: '^email_to\s*=.*$'
    replace: 'email_to=security@terraframe.com'
- name: Yum-cron configure
  replace:
    path: /etc/yum/yum-cron.conf # CentOS 7 specific
    regexp: '^email_from\s*=.*$'
    replace: 'email_from=builder@terraframe.com'
- name: Yum-cron configure
  replace:
    path: /etc/yum/yum-cron.conf # CentOS 7 specific
    regexp: '^update_cmd\s*=.*$'
    replace: 'update_cmd=security'
- name: Yum-cron configure
  replace:
    path: /etc/yum/yum-cron.conf # CentOS 7 specific
    regexp: '^apply_updates\s*=.*$'
    replace: 'apply_updates=yes'
- name: Start yum-cron service
  service: name=yum-cron state=started enabled=yes
  become: yes
  become_method: sudo


# AWS CLI tools (for pulling docker images from ecs)
- name: Install AWS CLI tools
  shell: pip install awscli
  become: yes
  become_method: sudo
- name: Install Boto (for pulling data from s3)
  shell: pip install boto
  become: yes
  become_method: sudo

# Docker-py
- name: Install docker-py
  command: pip install 'docker-py==1.9.0' # We're using pip verison 1.9 because there's an ansible bug that thinks version 1.10 is less than 1.7
  become: yes
  become_method: sudo

# Ensure valid server time (ecs pull fails if time is wrong)
- name: Update server time
  shell: ntpdate -u ntp.ubuntu.com
  become: yes
  become_method: sudo
  ignore_errors: yes

# Start Docker Service
# You would think this logic is covered from 'yum install docker' but you would be wrong.
- name: Start Docker service
  service: name=docker state=started enabled=yes
  become: yes
  become_method: sudo