
- name: Kill OrientDB
  docker_container:
    name: orientdb
    state: absent
    force_kill: yes
    keep_volumes: no
  become: yes
  become_method: sudo
  when: "{{clean_orientdb}}"

- name: Delete Data
  file:
    state: absent
    path: "{{app_data}}/orientdb"
  become: yes
  become_method: sudo
  when: "{{clean_orientdb}}"
  
# Move existing data over to {app_data}
- name: Does the new docker volume exist already?
  stat: "path={{app_data}}/orientdb"
  register: new_volume_exists
  become: yes
  become_method: sudo
- name: Does the old docker volume exist?
  stat: "path=/docker/volumes/orientdb"
  register: old_volume_exists
  become: yes
  become_method: sudo
- name: Stop OrientDB
  docker_container:
    name: orientdb
    state: stopped
  become: yes
  become_method: sudo
  when: "not new_volume_exists.stat.exists and old_volume_exists.stat.exists and not {{clean_orientdb}}"
- name: Create docker volume directory
  file:
    state: directory
    path: "{{app_data}}/orientdb"
  become: yes
  become_method: sudo
- name: Copy volume to docker volume vault
  shell: "cp -a /docker/volumes/orientdb/. {{app_data}}/orientdb/"
  when: "not new_volume_exists.stat.exists and old_volume_exists.stat.exists"
  become: yes
  become_method: sudo
- name: Delete Old Data
  file:
    state: absent
    path: "/docker/volumes/orientdb"
  become: yes
  become_method: sudo
  when: "not new_volume_exists.stat.exists and old_volume_exists.stat.exists"

- name: Start OrientDB
  docker_container:
    name: orientdb
    image: "{{ orientdb_image | default('orientdb:3.0') }}"
    state: started
    recreate: true
    pull: true
    ulimits:
      - nofile:500000:500000
    env:
      ORIENTDB_ROOT_PASSWORD: "{{orientdb_root_pass}}"
      ORIENTDB_OPTS_MEMORY: "-Xms512M -Xmx{{orientdb_memory}}"
    exposed_ports:
      - 2424
      - 2480
    ports:
      - "{{ orientdb_port | default('2424') }}:2424"
      - "{{ orientdb_admin_port | default('2480') }}:2480"
    volumes:
      - "{{app_data}}/orientdb/databases:/orientdb/databases"
      - "{{app_data}}/orientdb/backup:/orientdb/backup"
    restart_policy: always
  become: yes
  become_method: sudo
  
# When we're recreating the docker image for some reason docker leaves the old volume just sitting around unused. This was causing us to run out of space after x number of deploys
# https://lebkowski.name/docker-volumes/
- name: Clean dangling docker volumes
  shell: "docker volume rm $(docker volume ls -qf dangling=true)"
  become: yes
  become_method: sudo
  when: "{{clean_orientdb}}"
  ignore_errors: yes


# - name: Open port 5432 on iptables
#   iptables: 
# iptables -A INPUT -p tcp --dport 2195 -j ACCEPT
# service iptables restart