server {

	listen 80;
	
	server_name example.com; location / {
	
	     return 301 https://$host$request_uri;
	
	}
	
} server {
	
	listen              443 ssl;
    server_name         build.terraframe.com;
    ssl_certificate     /etc/letsencrypt/live/build.terraframe.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/build.terraframe.com//privkey.pem;
	
	location / {
	
	     root /usr/share/nginx/html
	
	}

}
