
# This is the master deployment script for a DSEDP application (a geoprism extension project)

# Heads up!!
# Before running you must:
# 1.
# Export these environment variables:
# export ANSIBLE_HOST_KEY_CHECKING=false
# 2.
# pip install boto
# 3.
# cd ~/git/geoprism-platform/ansible
# sudo chmod 400 ../security/permissions/geoprism-dev.pem
# 4.
# The inventory file says what server you want to make into a demo server. This example here deploys to dev.
# ansible-playbook dsedp.yml -i inventory/dsedp/dev.ini

- name: Set Up Database
  hosts: databases
  vars:
    # We will create a database and a user for each of these.
    apps: '["georegistry"]'
    
  roles:
    - apt
    - install_postgres
    - install_orientdb
    - elasticsearch
    - titiler


- name: Deploy Webserver
  hosts: webservers
  vars:
    catalina_home: /usr/local/tomcat
    
    apps: '["ROOT"]'
  
  roles:
    #- yum # Webserver and database are the same server so no need to do yum again
    - docker-certbot-s3
    - webserver
  
  # KnowStac has an additional "API" server which we need to boot
  tasks:
    - name: Delete existing docker image since the load command won't overwrite it
      community.docker.docker_image:
        state: absent
        name: "{{webserver_docker_image2}}:{{webserver_docker_image_tag2}}"
        force_absent: true
      become: yes
      become_method: sudo
    - name: Fetch and Load Docker Image (As Zip From Jenkins)
      file:
        path: "{{app_data}}/dimg"
        state: directory
        mode: 0700
        owner: "{{ansible_user}}"
        recurse: yes
      become: yes
      become_method: sudo
      #when: webserver_docker_image_tag == "latest"
    - name: Fetch and Load Docker Image (As Zip From Jenkins)
      ansible.builtin.copy:
        src: "{{docker_image_path2}}"
        dest: "{{app_data}}/dimg/geoprism.dimg.gz"
      become: yes
      become_method: sudo
      #when: webserver_docker_image_tag == "latest"
    - name: Fetch and Load Docker Image (As Zip From Jenkins)
      community.docker.docker_image:
        state: present
        source: load
        timeout: 1440
        load_path: "{{app_data}}/dimg/geoprism.dimg.gz"
        name: "{{webserver_docker_image2}}:{{webserver_docker_image_tag2}}"
      become: yes
      become_method: sudo
      #when: webserver_docker_image_tag == "latest"
      
    - name: Ensure knowstac-api SSL directory exists
      file:
        path: "{{ app_data }}/knowstac-api/ssl"
        state: directory
        owner: root
        group: root
        mode: "0755"
      become: yes
      become_method: sudo
    - name: Copy server.xml for knowstac-api
      copy:
        src: "roles/webserver/files/server.xml"
        dest: "{{app_data}}/knowstac-api/ssl/server.xml"
      become: yes
      become_method: sudo
    - name: Change HTTP connector 8080 → 8081
      ansible.builtin.replace:
        path: "{{app_data}}/knowstac-api/ssl/server.xml"
        regexp: '(<Connector[^>]*port=")8080(")'
        replace: '\18081\2'
      become: yes
      become_method: sudo
    - name: Change HTTP connector 80 → 81
      ansible.builtin.replace:
        path: "{{app_data}}/knowstac-api/ssl/server.xml"
        regexp: '(<Connector[^>]*port=")80(")'
        replace: '\181\2'
      become: yes
      become_method: sudo
    
    - name: Start Tomcat Webserver
      community.docker.docker_container:
        name: knowstac-api
        image: "{{webserver_docker_image2}}:{{webserver_docker_image_tag2}}"
        state: started
        recreate: yes
        network_mode: host
        force_kill: yes
        pull: "{{should_pull}}"
        restart_policy: always
        env: 'JAVA_OPTS="{{java_opts}}"'
        volumes:
          - "{{app_data}}/knowstac-api/geoprism:/data/geoprism:rw"
          - "{{app_data}}/knowstac-api/tomcat/logs:{{catalina_home}}/logs:rw"
          - "{{app_data}}/knowstac-api/tomcat/tmp:{{catalina_home}}/temp:rw"
          - "{{app_data}}/tomcat/webapps/.well-known:{{catalina_home}}/webapps/.well-known:rw"
          - "{{app_data}}/tomcat/appcfg:{{catalina_home}}/appcfg:ro"
          - "{{app_data}}/ssl/keystore.jks:{{catalina_home}}/conf/geoprism.ks:ro"
          - "{{app_data}}/knowstac-api/ssl/server.xml:{{catalina_home}}/conf/server.xml:ro"
          - "{{app_data}}/ssl/web.xml:{{catalina_home}}/conf/web.xml:ro"
      become: yes
      become_method: sudo
